<div class="fullscreen">
    <div class="bigBox background">
      <div class="card mx-4 login mt-5">
        <div class="card-body">
            <form [formGroup]="loginFormGroup">
              <div class="input-group mt-3">
                <input type="text" class="form-control" formControlName="nombre" class="input-login"
                  placeholder="Tu nombre"
                  [ngClass]="{'border border-danger': nombre?.invalid && (nombre?.dirty || nombre?.touched)}">
              </div>
              <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
                <span *ngIf="nombre?.errors?.required || nombre?.errors?.touched" class="form-text text-danger">
                  Su nombre es requerido
                </span>
              </div>
              <div class="input-group mt-3">
                <input type="text" class="form-control" formControlName="email" class="input-login"
                  placeholder="Tucorreo@ejemplo.com"
                  [ngClass]="{'border border-danger': email?.invalid && (email?.dirty || email?.touched)}">
              </div>
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <small *ngIf="email?.errors?.required || email?.errors?.touched" class="form-text text-danger">
                  Una direccion de correo es requerida
                </small>
                <small *ngIf="email?.errors?.pattern" class="form-text text-danger">Debe ingresar un correo electrónico válido</small>
              </div>
              <div class="input-group mt-3">
                <input type="text" class="form-control" formControlName="password" class="input-login"
                  placeholder="Contraseña"
                  [ngClass]="{'border border-danger': password?.invalid && (password?.dirty || password?.touched)}">
              </div>
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <span *ngIf="password?.errors?.required || password?.errors?.touched" class="form-text text-danger">
                  Su Contraseña es requerida
                </span>
              </div>
              <div class="input-group mt-3">
                <input type="text" class="form-control" formControlName="confirmation" class="input-login"
                  placeholder="Confirmar contraseña"
                  [ngClass]="{'border border-danger': confirmation?.invalid && (confirmation?.dirty || confirmation?.touched)}">
              </div>
              <div *ngIf="confirmation?.invalid && (confirmation?.dirty || confirmation?.touched)">
                <span *ngIf="confirmation?.errors?.required || confirmation?.errors?.touched" class="form-text text-danger">
                  Su confirmacion de Contraseña es requerida
                </span>
              </div>
              <div class="input-group mt-3">
                <button class="btn btn-primary" class="button-login" type="button"
                  [disabled]="loginFormGroup.invalid">Ingresar</button>
              </div>
            </form>
            <div class="hrDivider-login">
              <div class="row d-flex justify-content-center">
                <div class="col-5">
                  <hr>
                </div>
                o
                <div class="col-5">
                  <hr>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <label><b>Registrate con tu numero de celular</b></label>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <label><b>Registrate con tu cuenta de Google</b></label>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <label><b>Registrate con tu cuenta de Facebook</b></label>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <div class="col-7 mt-5 ">
            <label>¿Aún no tienes cuenta?</label>
          </div>
          <div class="col-4 mt-5">
            <button class="btn btn-primary join" routerLink="/login">Ingresa aquí</button>
          </div>
        </div>
      </div>
    </div>