<div class="fullscreen">
  <div class="bigBox background">
    <div class="hrDivider">
      <hr>
    </div>
    <div class="card mx-4 login">
      <div class="card-body">
        <div class="col d-flex justify-content-center mb-2 mt-3">
          <img src="./assets/locker.png" class="" alt="..." style="width: 40px;">
        </div>
        <h5 class="title-login text-center">Inicia Sesión</h5>
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-center">
            <div class="form-check form-switch mt-2">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                name="notificaciones" required>
            </div>
          </div>
          <form [formGroup]="loginFormGroup">
            <div class="input-group mt-3">
              <input type="text" class="form-control" formControlName="email" class="input-login"
                placeholder="Tucorreo@ejemplo.com"
                [ngClass]="{'border border-danger': email?.invalid && (email?.dirty || email?.touched)}">
            </div>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <span *ngIf="email?.errors?.required || email?.errors?.touched" class="form-text text-danger">
                Su Email es requerido
              </span>
            </div>
            <div class="input-group mt-3">
              <input type="text" class="form-control" formControlName="password" class="input-login"
                placeholder="Contraseña"
                [ngClass]="{'border border-danger': password?.invalid && (password?.dirty || password?.touched)}">
            </div>
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
              <span *ngIf="password?.errors?.required || password?.errors?.touched" class="form-text text-danger">
                Su Contraseña es requerida
              </span>
            </div>
            <div class="input-group mt-3">
              <button class="btn btn-primary" class="button-login" type="button"
                [disabled]="loginFormGroup.invalid">Ingresar</button>
            </div>
          </form>
          <div class="hrDivider-login">
            <div class="row d-flex justify-content-center">
              <div class="col-5">
                <hr>
              </div>
              o
              <div class="col-5">
                <hr>
              </div>
            </div>
          </div>
            <div class="col-12 d-flex justify-content-center">
              <label><b>Registrate con tu cuenta de Google</b></label>
            </div>
            <div class="col-12 d-flex justify-content-center">
              <label><b>Ingresa con tu cuenta de Facebook</b></label>
            </div>
        </div>
      </div>
    </div>
    <div class="footer mt-4">
      <div class="row">
        <div class="col-7 mt-5 ">
          <label>¿Aún no tienes cuenta?</label>
        </div>
        <div class="col-4 mt-5">
          <button class="btn btn-primary join" routerLink="/registration">Registrate aquí</button>
        </div>
      </div>
    </div>
  </div>