body {
    height: 100vh;
}
.fullscreen {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.bigBox {
    height: 80%;
    width: 100%;
}
.footer {
    height: 20%;
    width: 100%;
    background-color: #8EFABE;
}
.footer label {
    font-weight: 700;
    font-size: 0.9rem;
    float: right;
}
.login-btn {
    border-radius: 1px;
    background: #002D34;
    border-color: #002D34;
    width: 100%;
    font-weight: 700;
}
.login-btn2 {
    border-radius: 1px;
    border-color: #002D34;
    background-color: #8EFABE;
    width: 100%;
    color: #002D34;
    font-weight: 700;
}
.content-top {
    height: 50%;
    background-color: white;
}
.content-top img {
    position: relative;
    top: 3rem;
}
.content-bottom {
    height: 50%;
    background-color: #8EFABE;
    padding-left: 2rem;
}
.content-bottom label {
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 20%;
}
.content-bottom h1 span {
    color: white;
    font-size: 2.7rem;
    font-weight: 700;
}
.content-bottom h1 {
    font-size: 2.7rem;
    font-weight: 700;
}
.target {
    height: 11px !important;
    border-radius: 2rem;
    width: 11px !important;
    border: 1px solid black !important;
    background-color: #8efabe !important;
}
.target.active {
    height: 11px !important;
    border-radius: 2rem;
    width: 11px !important;
    border: 1px solid black !important;
    background-color: black !important;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 70%;
    margin-bottom: 0rem;
    margin-left: 0;
    list-style: none;
}

@media (max-height: 800px) {
    .content-top img {
        position: relative;
        top: -20px;
        margin: auto;
        width: 93% !important;
        transition: 0.5s;
    }
}
@media (min-height:668px) {
    .footer {
        height: 26%;
        width: 100%;
        background-color: #8EFABE;
    }    
}
@media (min-width: 440px) {
    .content-top img {
        width: 80% !important;
        transition: 0.5s;
    }
}
.join {
    font-size: 12px;
    background: black;
    border-radius: 2rem;
    height: 32px;
    width: 115px;
    left: -10px;
    bottom: 4px;
    position: relative;
    font-weight: 700;
    border: 0px;
}

.hrDivider {
    width: 70%;
    margin: auto;
    padding-top: 20%;
}
.hrDivider hr {
    border: 2px solid black;
    opacity: 1;
}
.hrDivider-login {
    width: 90%;
    margin: auto;
}
.hrDivider-login hr {
    border: 2px solid black;
    opacity: 1;
}
.card.login {
    border-radius: 1rem;
    height: 80%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 0px;
}
.title-login {
    font-weight: 700;
    font-size: 1.5rem;
}
.input-login {
    border-radius: 2rem;
    height: 3rem;
    border: 2px solid black;
    width: 100%;
    padding: 1rem;
}
.input-login {
    border: 2px solid rgb(117, 116, 116);
}
.button-login {
    border-radius: 2rem;
    height: 3rem;
    background-color: #8EFABE;
    font-weight: 500;
    width: 100%;
    border: 0px;
}
.button-login:active {
    border-radius: 2rem;
    height: 3rem;
    background-color: #6af5a9;
    font-weight: 500;
    width: 100%;
    border: 0px;
}
.button-login:disabled {
    border-radius: 2rem;
    height: 3rem;
    background-color: #c6ffe0;
    font-weight: 500;
    width: 100%;
    border: 0px;
}