<div class="fullscreen">
    <div class="bigBox">
      <div id="carouselExampleDark" class="carousel carousel-dark slide fullscreen" data-bs-ride="carousel">
        <div class="carousel-inner fullscreen">
          <div class="carousel-item fullscreen active" data-bs-interval="100000">
            <div class="content-top">
              <img src="./assets/Float1.png" class="d-block w-100" alt="...">
            </div>
            <div class="content-bottom">
              <div class="row">
                <div class="col">
                  <label>La herramienta más eficiente para</label>
                  <h1><span>Capacitar</span> al <br> personal de tu<br> empresa</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item fullscreen" data-bs-interval="100000">
            <div class="content-top">
              <img src="./assets/Float2.png" class="d-block w-100" alt="...">
            </div>
            <div class="content-bottom">
              <div class="row">
                <div class="col">
                  <label>Utilizamos las últimas innovaciones</label>
                  <h1><span>Tecnologías</span> <br> para el proceso<br> de capacitación</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item fullscreen" data-bs-interval="100000">
            <div class="content-top">
              <img src="./assets/Float3.png" class="d-block w-100" alt="...">
            </div>
            <div class="content-bottom">
              <div class="row">
                <div class="col">
                  <label>Optimizamos procesos de selección</label>
                  <h1><span>Reduciendo <br> costos</span> hasta un <br> 30%</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active target"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class="target"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" class="target"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-6 mt-5">
          <button class="btn btn-primary login-btn" routerLink="registration">Registrarme</button>
        </div>
        <div class="col-6 mt-5">
          <button class="btn btn-primary login-btn2 float-end" routerLink="login">Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>
  